{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Site icon -->
<link rel="apple-touch-icon" href="{{ base_path }}/images/github_avatar.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/github_avatar.png"/>
<link rel="shortcut icon" type="image/png" href="{{ base_path }}/images/github_avatar.png"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#132f3a"/>

<!-- end custom head snippets -->
